<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="Stylesheet" href="../static/login.css">
	
</head>
<body >

	<section class="login">
       
		<div class="login_box">
			<div class="left">
				
				<div class="contact">
					<form action="">
						<h3>SIGN IN</h3>
						<input type="text" placeholder="USERNAME">
						<input type="password" placeholder="PASSWORD">
						<button class="submit" formaction="#">Login</button>
                        <h5>Not a Registred User ?<a href="signup.html">Signup</a></h5>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>News Tracker Application</h2>
					<h5>Login to know about what is happening around you?</h5>
				</div>
				
		</div>
	</section>
</body>
</html>