<!DOCTYPE html>

<html>

<!-- Component Start -->

<div class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
<h1 class="text-2xl font-bold">NEWS TRACKER APPLICATION. </h1>

<div class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-white bg-opacity-76">

<svg class="w-6 h-6 text-indigo-600 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 " stroke="currentColor">

<path stroke-linecap="round" stroke-linejoin="round" stroke-
width="4"/>



<img src= "https://encrypted- tbn0.gstatic.com/images?q=tbn:ANd9GcQhWsGfmXlQwW2Grti7Vncf1HF3kKPTt3xYVg&usq p=CAU"alt="">


</svg>

<input class="flex items-center h-10 px-4 ml-10 text-sm bg-gray-200 rounded-full focus:outline-none focus:ring" type="search" placeholder="Search for anything…">
<div class="ml-10">

<a class="mx-2 text-sm font-semibold text-indigo-400"
href="#">NEWS</a>
 
<a class="mx-2 text-sm font-semibold text-gray-600 hover:text- indigo-400" href="#">Search</a>
<a class="mx-2 text-sm font-semibold text-gray-600 hover:text- indigo-400" href="#">...!</a>
</div>

<buton class="flex items-center justify-center w-8 h-8 ml-auto overflow- hidden rounded-full cursor-pointer">
<img src= " https://encrypted- tbn0.gstatic.com/images?q=tbn:ANd9GcS5HK4iq8WP0FVk3RVfr-e6D- E3RUYDi2bxqg&usqp=CAU" alt="">
</buton>

</div>

<div class="px-10 mt-6">

<h1 class="text-2xl font-bold">Sports And Leisure </h1>


<style>

.GFG {

background-color: white; border: 2px solid black; color: green;
padding: 5px 10px; text-align: center; display: inline-block; font-size: 20px; margin: 10px 30px; cursor: pointer;
text-decoration:none;

}

</style>
 
</head>


<body>




<!-- Create a normal link and add CSS property -->

<a href="https://indianexpress.com/audio/expresso-sports-update/expresso-national- and-international-sports-news-update-at-330-pm-on-17th-november-2022/8273793/" class="GFG">
Click here

</a>

</body>

</div>

<div>

<img src= "https://encrypted- tbn0.gstatic.com/images?q=tbn:ANd9GcQRtmuIZcFThmZYCFhaGz7dRKh1lN6qWI29Bw&usq p=CAU" alt="">
<h1 class="text-2xl font-bold">Current NEWS</h1>


<body>




<!-- Create a normal link and add CSS property -->

<a href="https://news.google.com/topstories?hl=en-IN&gl=IN&ceid=IN%3Aen" class="GFG">
Click here

</a>

</body>

</div>
 
<div>

<img src= " https://encrypted- tbn0.gstatic.com/images?q=tbn:ANd9GcRDOdZKQV2hGrTEhMUUjf9tCaAf4nycQeC8w_L77V
_WkrBl8pZ0FNHJU3NNEOUEA7t_VC4&usqp=CAU" alt="">

<h1 class="text-2xl font-bold">Weather And Climate NEWS</h1>

<body>




<!-- Create a normal link and add CSS property -->

<a href="https://weather.com/en-IN/weather/today/l/13.06,80.21?par=google" class="GFG">
Click here

</a>

</body>

</div>

<div>

<img src= "https://encrypted- tbn0.gstatic.com/images?q=tbn:ANd9GcSghiF4xA8kpzWIdxCaqZcoJH_VSGDSOx57xA&usqp= CAU" alt="">
<h1 class="text-2xl font-bold">Education NEWS</h1>


<body>




<!-- Create a normal link and add CSS property -->

<a href="https://news.google.com/topics/CAAqKggKIiRDQkFTRlFvSUwyMHZNRGRqTVhZU0JXV nVMVWRDR2dKSlRpZ0FQAQ?hl=en-IN&gl=IN&ceid=IN%3Aen" class="GFG">
Click here

</a>
 
</body>

<div><input class="flex items-center h-20 px-8 ml-20 text-sm bg-gray-400 rounded-full focus:outline-black focus:ring" type=" search" placeholder=" Search for Latest NEWS"></div>
</div>


</div>
<script>
    window.watsonAssistantChatOptions = {
      integrationID: "86678f91-586d-4574-abcf-13521cc2ce95", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "210b4f29-d5a3-46e8-bd67-123964b7250e", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

</html>
